.menu{
    margin-left: 350px;
    margin-top: 20px;
    position: absolute;
    color: azure;   
}
.btn1{
    margin-left: 800px;
    margin-top: 20px;
    background-color: yellow;
}
a{
    text-decoration: none;
    padding: 30px;
}
p{
    margin: 0;
    font-size: 12px;
}
h1{
    margin: 0;
}
.head1{
    position: absolute;
    margin: 20px;
    color: aliceblue;
}
.heading1{
    margin-top:50px;
    position: absolute;
    margin-left: 50px;
}
.image1{
    height: 250px;
    width: 250px;
    margin-left: 500px;
    margin-top: 50px;
}
.para1{
    font-size: 12px;
}
.btn2{
    background-color: yellow;
    margin-top: 10px;
}
span{
    color: yellow;
}
.div{
    height:400px;
    background-color: teal;
}
.frame{
    color: antiquewhite;
}
.para1{
    color: antiquewhite;
}
.color{
    color: white;
}





.heading2{
    margin-left:0;
}
.anchor{
    color: yellow;
}
.image2{
    height:200px;
    width: 200px;
    margin-top: 20px;
}
.graphics{
    position: absolute;
}
.web-ds{
    position:absolute ;
    margin-left: 250px;
}
.image3{
    height: 200px;
    width: 200px;
    margin-top: 20px;
}
.digital{
    position: absolute;
    margin-left: 500px;
}
.cca{
    height: 200px;
    width: 200px;
    margin-top:20px;
}
.us{
    height: 300px;
    padding: 50px ;
    text-align: center;
}





.image4{
    height: 250px;
    width: 250px;
    margin-top: 25px;
    margin-left:60px;
}
.div1{
    position: absolute;
}
.div2{
    height: 300px;
}
.gita{
    position: absolute;
    margin-top: 25px;
    margin-left: 340px;
}
.btn3{
    background-color: yellow;
    margin-top: 10px;
}




.div4{
    height:270px;
}
.image5{
    height: 250px;
    width: 250px;
}
.div3{
    position: absolute;
    margin-left: 50px;
    margin-top: 30px;
}
.div5{
    position: absolute;
    margin-left: 500px;
    margin-top: 15px;
}
.rutu{
    margin-top: 20px;
    background-color: yellow;
}





.boot{
    height: 400px;
    background-color: teal;
}
.ganesh{
    height:150px;
    width: 250px; 
    background-color:white;
    position: relative;
    margin-left: 450px;
    margin-top: 100px;
    text-align: center;
    border-radius: 10%;
}
.siddhi{
    height: 150px;
    width: 250px;
    background-color: white;
    position: absolute;
    margin-left:100px;
    margin-top: 100px;
    border-radius: 10%;
    text-align: center;
}
.what{
    margin-left: 240px;
    font-size: 40px;
    color: white;
}
.para8{
    color: antiquewhite;
    margin-left:270px ;
}
.student{
    height: 50px;
    margin-top: 20px;
}
.para11{
    margin-top: 50px;
}
.para12{
    margin-top: 50px !important ;
}





.ready{
    position: absolute;
    margin-top: 50px;
    margin-left: 60px;
}
.image7{
    height: 250px;
    width: 250px;
}
.skill{
    margin-left: 500px;
    margin-top: 50px;
}
.grow{
    height: 270px;
}
.btn5{
    background-color: yellow;
    margin-top: 20px;
}

/*footer*/
.footer{
    height: 150px;
      background-color: teal;
}
.foot1{
    position: absolute;
}
.foot2{
    position: absolute;
    margin-left: 200px;
}
.foot3{
    position: absolute;
    margin-left: 400px;
}
ul{
    color: white;
}
.foot4{
    position: absolute;
    margin-left: 600px;
}



